{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{ form_start(form) }}

        <div>
            {{form_row(form.firstname, {'attr': {'class': 'input'}}) }}
        </div>
        <div>
            {{form_row(form.lastname, {'attr': {'class': 'input'}}) }}
        </div>
        <div>
            {{form_row(form.password, {'attr': {'class': 'input'}}) }}
        </div>
        <div>
            {{form_row(form.salary, {'attr': {'class': 'input'}}) }}
        </div>
        <div>
            {{form_row(form.email, {'attr': {'class': 'input'}}) }}
        </div>
        <div>
            {{form_row(form.position, {'attr': {'class': 'input'}}) }}
        </div>

        {{form_row(form.save, {'attr' : {'class': 'editBtn'}}) }}

    {{ form_end(form) }}
</div>
{% endblock %}
